NODE_ENV=development
PORT=8800

# MongoDB Atlas connection string
MONGO_URI=MONGO_URI

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_STRING_MIN_32_CHARS
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173

# Email & Admin Approvals
ADMIN_ACTION_SECRET=your_admin_action_secret
ADMIN_NOTIFICATION_EMAIL=admin@example.com
RESEND_API_KEY=re_your_resend_api_key
BACKEND_URL=http://localhost:8800
EMAIL_FROM=onboarding@resend.dev
